<template>
    <div class="container">

        <section class="row clearfix">
            <h2>${heading}</h2>
        </section>

        <section class="row clearfix">
            <div class="panel panel-primary smallpanel">
                <div class="panel-heading">
                    Select Your Aircraft Here
                </div>
                <div class="panel panel-body">
                    <select class="form-control" value.bind="aircraftData.selectedAircraft">
                        <option repeat.for="aircraft of aircraftData.availableAircraft" model.bind="$index">
                            ${aircraft.title}
                        </option>
                    </select>
                    *Note: When the aircraft changes, all other user input parameters remain the same (ex: Fuel Loaded,
                    Baggage).
                </div>
            </div>

            <div class="panel panel-primary smallpanel">
                <div class="panel-heading">
                    Current Set
                </div>
                <div class="panel panel-body">
                    <button class="form-control btn btn-default" click.trigger="emailSettings()">Email</button>
                    <button class="form-control btn btn-default" style="margin-top: 28px;"
                            click.trigger="resetCurrent()">Reset
                    </button>
                </div>
            </div>

            <div class="panel panel-primary smallpanel">
                <div class="panel-heading">
                    Load / Save Sets
                </div>
                <div class="panel panel-body">
                    <select class="form-control" value.bind="selectedSetIndex">
                        <option repeat.for="set of store.sets" model.bind="$index">${set.name}</option>
                    </select>

                    <button class="form-control btn btn-default" style="margin-top: 8px;"
                            click.trigger="loadSettings()">Load Selected
                    </button>
                    <button class="form-control btn btn-default" style="margin-top: 32px;"
                            click.trigger="createSettings()">Create New Set
                    </button>
                    <button class="form-control btn btn-default" style="margin-top: 8px;"
                            click.trigger="deleteSettings()">Delete Selected Set
                    </button>
                </div>
            </div>
        </section>

    </div>
</template>
