<template>
    <require from="/styles/styles.css"></require>
    <require from="wt-bal/wt-bal"></require>
    <require from="wt-bal/wt-bal-chart"></require>

    <div class="container">
        <div class="row clearfix">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    ${aircraft.title}
                </div>
                <div class="panel panel-body">
                    <h2>
                        <button class="btn btn-default" click.trigger="addItem()">
                            <i class="fa fa-plus-circle touchSizeLgGreen"></i>
                        </button>
                        Weight & Balance
                        <button class="btn btn-default" click.trigger="removeItem()">
                            <i class="fa fa-minus-circle touchSizeLgRed"></i>
                        </button>
                    </h2>

                    <div class="table-responsive">
                        <wt-bal></wt-bal>
                    </div>
                    <div class="table-responsive">
                        <wt-bal-chart></wt-bal-chart>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>
