<template>

    <ai-dialog class="ai-dialog">
        <ai-dialog-header><h3>${title}</h3></ai-dialog-header>
        <ai-dialog-body>
            <div class="table-responsive">
                <table>
                    <thead>
                    <tr>
                        <td class="labelCenterShort">
                            Location
                        </td>
                        <td class="labelCenterShort">
                            Weight
                        </td>
                        <td class="labelCenterShort">
                            Arm CG
                        </td>
                        <td class="labelCenterShort">
                            Moment
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="labelRightMedium">
                            Plane Empty
                        </td>
                        <td>
                            <div class="form-control alert-success inputMedium">
                                ${aircraft.planeEmptyWeight}
                            </div>
                        </td>
                        <td>
                            <div class="form-control alert-success inputMedium">
                                ${aircraft.planeEmptyArm}
                            </div>
                        </td>
                        <td>
                            <div class="form-control alert-success inputMedium">
                                ${item.planeEmptyMoment}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="labelRightMedium">
                            Pilot CoPilot
                        </td>
                        <td>
                            <input value.bind="item.pilotCopilotWeight" type="text"
                                   class="form-control inputMedium"
                                   focus.trigger="openMaskedPad({title: 'Pilot/CoPilot Wt LBs', object: item,  propName: 'pilotCopilotWeight', minDigits: 1, maxDigits: 4, mask: '____', minusAllowed: false, floatAllowed: false})"
                                   readonly>
                        </td>
                        <td>
                            <div class="form-control alert-success inputMedium">
                                ${aircraft.pilotCopilotArm}
                            </div>
                        </td>
                        <td>
                            <div class="form-control alert-success inputMedium">
                                ${item.pilotCopilotMoment}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="labelRightMedium">
                            Rear Passengers
                        </td>
                        <td>
                            <input value.bind="item.rearPassengersWeight" type="text"
                                   class="form-control inputMedium"
                                   focus.trigger="openMaskedPad({title: 'Rear Pax Wt LBs', object: item,  propName: 'rearPassengersWeight', minDigits: 1, maxDigits: 4, mask: '____', minusAllowed: false, floatAllowed: false})"
                                   readonly>
                        </td>
                        <td>
                            <div class="form-control alert-success inputMedium">
                                ${aircraft.rearPassengersArm}
                            </div>
                        </td>
                        <td>
                            <div class="form-control alert-success inputMedium">
                                ${item.rearPassengersMoment}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="labelRightMedium">
                            Baggage
                        </td>
                        <td>
                            <input value.bind="item.baggageWeight" type="text"
                                   class="form-control inputMedium"
                                   focus.trigger="openMaskedPad({title: 'Baggage Wt LBs', object: item,  propName: 'baggageWeight', minDigits: 1, maxDigits: 4, mask: '____', minusAllowed: false, floatAllowed: false})"
                                   readonly>
                        </td>
                        <td>
                            <div class="form-control alert-success inputMedium">
                                ${aircraft.rearBaggageArm}
                            </div>
                        </td>
                        <td>
                            <div class="form-control alert-success inputMedium">
                                ${item.baggageMoment}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="labelRightMedium">
                            Loaded Fuel (Gal)
                        </td>
                        <td>
                              <span class=" ${item.isFuelOutsideCapacity ? 'has-error' : ''}">
                                <input value.bind="item.fuelLoaded" type="text"
                                       class="form-control inputMedium"
                                       focus.trigger="openMaskedPad({title: 'Fuel Loaded Gals', object: item,  propName: 'fuelLoaded', minDigits: 1, maxDigits: 2, mask: '__', minusAllowed: false, floatAllowed: false})"
                                       readonly>
                              </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="labelRightMedium">
                            Fuel Used (Gal)
                        </td>
                        <td>
                              <span class=" ${item.isFuelUsedGreaterThanLoaded ? 'has-error' : ''}">
                                <input value.bind="item.fuelUsed" type="text"
                                       class="form-control inputMedium"
                                       focus.trigger="openMaskedPad({title: 'Fuel Used Gals', object: item,  propName: 'fuelUsed', minDigits: 1, maxDigits: 4, mask: '____', minusAllowed: false, floatAllowed: true})"
                                       readonly>
                              </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="labelRightMedium">
                            Loaded Fuel
                        </td>
                        <td>
                            <div class="form-control alert-success inputMedium">
                                ${item.fuelStartWeight}
                            </div>
                        </td>
                        <td>
                            <div class="form-control alert-success inputMedium">
                                ${aircraft.fuelArm}
                            </div>
                        </td>
                        <td>
                            <div class="form-control alert-success inputMedium">
                                ${item.fuelStartMoment}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="labelRightMedium">
                            End Fuel
                        </td>
                        <td>
                            <div class="form-control alert-success inputMedium">
                                ${item.fuelEndWeight}
                            </div>
                        </td>
                        <td>
                            <div class="form-control alert-success inputMedium">
                                ${aircraft.fuelArm}
                            </div>
                        </td>
                        <td>
                            <div class="form-control alert-success inputMedium">
                                ${item.fuelEndMoment}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="labelRightMedium">
                            Takeoff Wt
                        </td>
                        <td>
                            <div class="form-control alert-success inputMedium ${item.isTakeoffOverGross ? 'danger' : ''}">
                                ${item.takeoffWeight}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="labelRightMedium">
                            Takeoff CG
                        </td>
                        <td>
                            <div class="form-control alert-success inputMedium ${item.isTakeoffOutsideCg ? 'danger' : ''}">
                                ${item.takeoffCg}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="labelRightMedium">
                            Landing Wt
                        </td>
                        <td>
                            <div class="form-control alert-success center-block inputMedium ${item.isLandingOverGross ? 'danger' : ''}">
                                ${item.landingWeight}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="labelRightMedium">
                            Landing CG
                        </td>
                        <td>
                            <div class="form-control alert-success center-block inputMedium ${item.isLandingOutsideCg ? 'danger' : ''}">
                                ${item.landingCg}
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </ai-dialog-body>
        <ai-dialog-footer>
            <button class="btn" click.trigger="close()">Close</button>
        </ai-dialog-footer>
    </ai-dialog>
</template>
