<template>

    <style scoped>
        .marker1 {
            color: ${pinColors[0]};
        }
        .marker2 {
            color: ${pinColors[1]};
        }
        .marker3 {
            color: ${pinColors[2]};
        }
        .marker4 {
            color: ${pinColors[3]};
        }
        .marker5 {
            color: ${pinColors[4]};
        }
    </style>

    <div>
        <table class="table-width-medium">
            <thead>
                <tr>
                    <td class="labelCenterShort">
                        Leg
                    </td>
                    <td class="labelCenterShort">
                        Front<br>Seats
                    </td>
                    <td class="labelCenterShort">
                        Rear<br>Seats
                    </td>
                    <td class="labelCenterShort">
                        Baggage<br>Area
                    </td>
                    <td class="labelCenterShort">
                        Fuel<br>Loaded
                    </td>
                    <td class="labelCenterShort">
                        Fuel<br>Used
                    </td>
                    <td class="labelCenterShort">
                        Takeoff<br>Cg
                    </td>
                    <td class="labelCenterShort">
                        Takoff<br>Wt
                    </td>
                    <td class="labelCenterShort">
                        Landing<br>Cg
                    </td>
                    <td class="labelCenterShort">
                        Landing<br>Wt
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="row of wtBalStore.items">
                    <td >
                        <button class="btn btn-default" click.trigger="$parent.editItem($index)">
                            <i class="fa fa-pencil edit-icon ${'marker'+($index+1)}"></i> ${$index+1}
                        </button>
                    </td>
                    <td class="valueCenterShort">
                        ${row.pilotCopilotWeight}
                    </td>
                    <td class="valueCenterShort">
                        ${row.rearPassengersWeight}
                    </td>
                    <td class="valueCenterShort">
                       ${row.baggageWeight}
                    </td>
                    <td class="valueCenterShort ${row.isFuelOutsideCapacity ? 'danger' : ''}">
                        ${row.fuelLoaded}
                    </td>
                    <td class="valueCenterShort ${row.isFuelUsedGreaterThanLoaded ? 'danger' : ''}">
                        ${row.fuelUsed}
                    </td>
                    <td class="valueCenterShort ${row.isTakeoffOutsideCg ? 'danger' : ''}">
                        ${row.takeoffCg}
                    </td>
                    <td class="valueCenterShort ${row.isTakeoffOverGross ? 'danger' : ''}">
                        ${row.takeoffWeight}
                    </td>
                    <td class="valueCenterShort ${row.isLandingOutsideCg ? 'danger' : ''}">
                        ${row.landingCg}
                    </td>
                    <td class="valueCenterShort ${row.isLandingOverGross ? 'danger' : ''}">
                        ${row.landingWeight}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</template>
