<template>

    <ai-dialog class="ai-dialog">
        <ai-dialog-header>
            <h4>Create New Save Set</h4>
        </ai-dialog-header>
        <ai-dialog-body>
            <h2>Enter name for new set:</h2>
            <input value.bind="setName" maxlength.bind="params.maxChars" class="form-control" type="text"><span> ${charCount} left</span>
        </ai-dialog-body>
        <ai-dialog-footer>
            <button class="btn btn-default" click.trigger="save()" disabled.bind="canSave">Save</button>
            <button class="btn btn-default" click.trigger="controller.cancel()">Cancel</button>
        </ai-dialog-footer>
    </ai-dialog>

</template>
