<template>

    <require from="perf/perf"></require>

    <div class="container">
        <div class="row clearfix">

            <div class="panel panel-primary" style="margin-right: ">
                <div class="panel-heading">
                    ${aircraft.title}
                </div>
                <div class="panel panel-body">
                    <h2>
                        <button class="btn btn-default" click.trigger="addItem()">
                            <i class="fa fa-plus-circle touchSizeLgGreen"></i>
                        </button>
                        Performance
                        <button class="btn btn-default" click.trigger="removeItem()">
                            <i class="fa fa-minus-circle touchSizeLgRed"></i>
                        </button>
                    </h2>
                    <div class="table-responsive">
                        <perf></perf>
                    </div>
                </div>
            </div>

        </div>
    </div>

</template>