<template>

    <require from="perf/perf-chart"></require>
    <require from="resources/value-converters/fahrenheit-to-celsius"></require>
    <require from="resources/value-converters/uppercase"></require>

    <ai-dialog class="ai-dialog">
        <ai-dialog-header><h3>${title}</h3></ai-dialog-header>
        <ai-dialog-body style="padding-left:16px; padding-top: 4px; padding-right: 16px; padding-bottom: 4px;">
            <div>
                <table>
                    <thead>
                    <tr>
                        <td class="labelCenterShort">
                            ICAO
                        </td>
                        <td class="labelCenterShort">
                            Elev
                        </td>
                        <td class="labelCenterShort">
                            High Temp
                        </td>
                        <td class="labelCenterShort">
                            Baro Hg
                        </td>
                        <td class="labelCenterShort">
                            P.Alt
                        </td>
                        <td class="labelCenterShort">
                            D.Alt
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input value.bind="item.icao | uppercase" type="text" class="form-control inputMedium">
                        </td>
                        <td>
                            <input value.bind="item.elev" type="text" class="form-control inputMedium"
                                   focus.trigger="openMaskedPad({title: 'Elev. FT', object: item,  propName: 'elev', minDigits: 1, maxDigits: 5, mask: '_____', minusAllowed: true, floatAllowed: false})"
                                   readonly>
                        </td>
                        <td>
                            <input value.bind="item.highTemp" type="text" class="form-control inputMedium"
                                   focus.trigger="openMaskedPad({title: 'High Temp. C', object: item,  propName: 'highTemp', minDigits: 1, maxDigits: 2, mask: '__', minusAllowed: true, floatAllowed: false})"
                                   readonly>
                        </td>
                        <td>
                            <input value.bind="item.baroHg" type="text" class="form-control inputMedium"
                                   focus.trigger="openMaskedPad({title: 'Baro inHg ', object: item,  propName: 'baroHg', minDigits: 5, maxDigits: 5, mask: '_____', minusAllowed: false, floatAllowed: true})"
                                   readonly>
                        </td>
                        <td class="valueCenterShort">
                            <div class="form-control alert-success inputMedium">
                                ${item.presAlt}
                            </div>
                        </td>
                        <td class="valueCenterShort">
                            <div class="form-control alert-success inputMedium">
                                ${item.densityAlt}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                    <tr>
                        <td class="labelCenterShort secondHeader">
                            TO Dist
                        </td>
                        <td class="labelCenterShort secondHeader">
                            TO Dist 50ft
                        </td>
                        <td class="labelCenterShort secondHeader">
                            Ldg Dist
                        </td>
                        <td class="labelCenterShort secondHeader">
                            Ldg Dist 50ft
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="form-control alert-success inputMedium">
                                ${item.toDist}
                            </div>
                        </td>
                        <td>
                            <div class="form-control alert-success inputMedium">
                                ${item.toDist50}
                            </div>
                        </td>
                        <td>
                            <div class="form-control alert-success inputMedium">
                                ${item.ldDist}
                            </div>
                        </td>
                        <td>
                            <div class="form-control alert-success inputMedium">
                                ${item.ldDist50}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <section>
                <perf-chart></perf-chart>
                </section>

            </div>
        </ai-dialog-body>
        <ai-dialog-footer>
            <button class="btn btn-default" click.trigger="close()">Close</button>
        </ai-dialog-footer>
    </ai-dialog>

</template>