<template>

    <div>
        <table class="table-width-medium">
            <thead>
            <tr>
                <td class="labelCenterShort">
                    Leg
                </td>
                <td class="labelCenterShort">
                    ICAO
                </td>
                <td class="labelCenterShort">
                    Field<br>Elev
                </td>
                <td class="labelCenterShort">
                    High<br>Temp
                </td>
                <td class="labelCenterShort">
                    Baro<br>Hg
                </td>
                <td class="labelCenterShort">
                    Pressure<br>Alt
                </td>
                <td class="labelCenterShort">
                    Density<br>Alt
                </td>
                <td class="labelCenterShort">
                    TO<br>Dist
                </td>
                <td class="labelCenterShort">
                    TO Dist<br>50ft
                </td>
                <td class="labelCenterShort">
                    Ldg<br>Dist
                </td>
                <td class="labelCenterShort">
                    Ldg Dist<br>50ft
                </td>
            </tr>
            </thead>
            <tbody>
            <tr repeat.for="row of store.items">
                <td class="valueCenterShort">
                    <button class="btn btn-default" click.trigger="$parent.editItem($index)">
                        <i class="fa fa-pencil edit-icon"></i>
                    </button>
                    ${$index+1}
                </td>
                <td class="valueCenterShort">
                    ${row.icao}
                </td>
                <td class="valueCenterShort">
                    ${row.elev}
                </td>
                <td class="valueCenterShort">
                    ${row.highTemp}
                </td>
                <td class="valueCenterShort">
                    ${row.baroHg}
                </td>
                <td class="valueCenterShort">
                    ${row.presAlt}
                </td>
                <td class="valueCenterShort">
                    ${row.densityAlt}
                </td>
                <td class="valueCenterShort">
                    ${row.toDist}
                </td>
                <td class="valueCenterShort">
                    ${row.toDist50}
                </td>
                <td class="valueCenterShort">
                    ${row.ldDist}
                </td>
                <td class="valueCenterShort">
                    ${row.ldDist50}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</template>
