<template>
    <style scoped>
        .showArea {
            display: inline-block;
        }

        .hideArea {
            display: none;
        }

        #imageholder div {
            background-color: black;
            position: absolute;
        }

        #imageholder {
            position: relative;
            display: inline-block;
            overflow: hidden;
        }

        .yaxis {
            top: ${yAxisTop}px;
            width: 340px;
            margin-left: 25px;
            height: 1px;
            display: inline-block;
        }
        .xaxis {
            left: ${xAxisLeft}px;
            width: 1px;
            height: 100%;
            display: inline-block;
            visibility: visible;
        }

        input[type=range] {
            /*removes default webkit styles*/
            -webkit-appearance: none;

            /*fix for FF unable to apply focus style bug */
            border: 1px solid white;

            /*required for proper track sizing in FF*/
            width: 90%;
            margin-top: 16px;
        }
        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 5px;
            background: #ddd;
            border: none;
            border-radius: 3px;
        }
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: none;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            background: dimgrey;
            margin-top: -16px;
        }
        input[type=range]:focus {
            outline: none;
        }
        input[type=range]:focus::-webkit-slider-runnable-track {
            background: #ccc;
        }

        input[type=range]::-moz-range-track {
            width: 300px;
            height: 5px;
            background: #ddd;
            border: none;
            border-radius: 3px;
        }
        input[type=range]::-moz-range-thumb {
            border: none;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background: goldenrod;
        }

        /*hide the outline behind the border*/
        input[type=range]:-moz-focusring{
            outline: 1px solid white;
            outline-offset: -1px;
        }

        input[type=range]::-ms-track {
            width: 300px;
            height: 5px;

            /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
            background: transparent;

            /*leave room for the larger thumb to overflow with a transparent border */
            border-color: transparent;
            border-width: 6px 0;

            /*remove default tick marks*/
            color: transparent;
        }
        input[type=range]::-ms-fill-lower {
            background: #777;
            border-radius: 10px;
        }
        input[type=range]::-ms-fill-upper {
            background: #ddd;
            border-radius: 10px;
        }
        input[type=range]::-ms-thumb {
            border: none;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background: goldenrod;
        }
        input[type=range]:focus::-ms-fill-lower {
            background: #888;
        }
        input[type=range]:focus::-ms-fill-upper {
            background: #ccc;
        }
    </style>

    <div style="margin-right: auto;">
        <ul class="nav nav-pills">
            <li class="${isTakeoff ? 'active' : ''}" id="takeoff">
                <a href="#/performance" click.trigger="setTakeoffChart()">Take Off</a>
            </li>
            <li class="${!isTakeoff ? 'active' : ''}" id="landing">
                <a href="#/performance" click.trigger="setLandingChart()">Landing</a>
            </li>
        </ul>

        <div>
            <table>
                <tr>
                    <td>
                        <div id="imageholder">
                            <div class="yaxis"></div>
                            <div class="xaxis"></div>
                                  <span>
                                    <img src.bind="takeoffImage" class.bind="isTakeoff ? 'showArea' : 'hideArea'">
                                    <img src.bind="landingImage" class.bind="!isTakeoff ? 'showArea' : 'hideArea'">
                                  </span>
                        </div>
                    </td>
                    <td style="align-content: center; text-align: center;">
                        <label>Alt</label><br>
                        <span class="form-control"
                              style="width:60px;">${store.items[store.selectedIndex].densityAlt}</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 75px;">
                        <div class="form-inline" style="margin-top:-8px;">
                            <input value.bind="chartDist" type="text" class="form-control" style="width:65px;">
                            <label style="margin:5px;">Distance</label>
                            <button class="${isTakeoff ? 'form-control btn btn-default showArea' : 'hideArea'}"
                                    click.trigger="updateTODist()">TO Dist
                            </button>
                            <button class="${isTakeoff ? 'form-control btn btn-default showArea' : 'hideArea'}"
                                    click.trigger="updateTODist50()">T0 Dist (50ft)
                            </button>
                            <button class="${!isTakeoff ? 'form-control btn btn-default showArea' : 'hideArea'}"
                                    click.trigger="updateLndDist()">Ldg Dist
                            </button>
                            <button class="${!isTakeoff ? 'form-control btn btn-default showArea' : 'hideArea'}"
                                    click.trigger="updateLndDist50()">Ldg Dist (50ft)
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
            <div>
                <input type="range" min="0" max.bind="xLimit"
                       value.bind="distRange" input.trigger="updateXAxisLeft()"
                       change.trigger="updateXAxisLeft()"/>
            </div>
        </div>
    </div>
</template>