<template>

    <require from="flight-log/flt-legs"></require>
    <require from="flight-log/flt-ckpts"></require>

    <div class="container">
        <div class="row clearfix">
            <ul class="nav nav-pills" style="margin-top: 5px; margin-bottom: 5px;">
                <li role="presentation" class="${flightLogStore.selectedFlightIndex==0 ? 'active' : ''}">
                    <a href="#/flightlog" click.trigger="selectFlight(0)">Flight 1</a>
                </li>
                <li role="presentation" class="${flightLogStore.selectedFlightIndex==1 ? 'active' : ''}">
                    <a href="#/flightlog" click.trigger="selectFlight(1)">Flight 2</a>
                </li>
                <li role="presentation" class="${flightLogStore.selectedFlightIndex==2 ? 'active' : ''}">
                    <a href="#/flightlog" click.trigger="selectFlight(2)">Flight 3</a>
                </li>
            </ul>
        </div>
        <div  class="row clearfix">
            <flt-legs></flt-legs>
        </div>
        <div  class="row clearfix">
            <flt-ckpts></flt-ckpts>
        </div>
    </div>
    >

</template>
