<template>

    <require from="resources/value-converters/seconds-to-hhmm"></require>
    <require from="resources/value-converters/time-format"></require>
    <require from="resources/value-converters/pad-number"></require>
    <require from="resources/value-converters/east-west-to-int"></require>
    <require from="resources/value-converters/uppercase"></require>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <span if.bind="!flightLogStore.activeFlight.legEditLocked">
                <button class="btn btn-default" click.trigger="addItem()">
                    <i class="fa fa-plus-circle touchSizeLgGreen"></i>
                </button>
            </span>
            <button class="btn btn-default btn-lg" href="#flightlog" click.trigger="toggleLegEditLock()">
                Legs
                <span if.bind="flightLogStore.activeFlight.legEditLocked">
                   <i class="fa fa-lock" style="font-size: 18px;"></i>
                </span>
            </button>
            <span if.bind="!flightLogStore.activeFlight.legEditLocked">
                <button class="btn btn-default" click.trigger="removeItem()">
                    <i class="fa fa-minus-circle touchSizeLgRed"></i>
                </button>
            </span>
        </div>

        <div class="panel-body">
            <div class="table-responsive">
                <table>
                    <tr>
                        <td>From</td>
                        <td>
                            <input value.bind="flightLogStore.activeFlight.from | uppercase" type="text"
                                   id="routeFrom" class="form-control inputShort" placeholder="KOWB"
                                   disabled.bind="flightLogStore.activeFlight.legEditLocked"/>
                        </td>
                        <td>To</td>
                        <td>
                            <input value.bind="flightLogStore.activeFlight.to | uppercase" type="text"
                                   id="routeTo" class="form-control inputShort" placeholder="I42"
                                   disabled.bind="flightLogStore.activeFlight.legEditLocked"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Cruise Alt MSL</td>
                        <td>
                            <input value.bind="flightLogStore.activeFlight.alt" type="text" class="form-control inputShort"
                                   focus.trigger="openMaskedPad({title: 'Cruise Alt MSL', object: flightLogStore.activeFlight, propName: 'alt', minDigits: 4, maxDigits: 4, mask: '____', minusAllowed: false, floatAllowed: false})"
                                   disabled.bind="flightLogStore.activeFlight.legEditLocked"
                                   readonly >
                        </td>
                    </tr>
                </table>
                <table class="table-bordered">
                    <thead class="headerText">
                    <tr>
                        <td>TAS</td>
                        <td>TC</td>
                        <td>W. Aloft</td>
                        <td>WCA</td>
                        <td>VAR</td>
                        <td>MH</td>
                        <td>GS</td>
                        <td>Dist</td>
                        <td>Flt Time</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr repeat.for="leg of flightLogStore.activeFlight.legs" class="${$index%2 ? 'striped' : ''}">
                        <td>
                            <input value.bind="leg.tas" type="text" class="form-control inputShort"
                                   focus.trigger="openMaskedPad({title: 'TAS KTs', object: leg,  propName: 'tas', minDigits: 1, maxDigits: 3, mask: '___', minusAllowed: false, floatAllowed: false})"
                                   disabled.bind="$parent.flightLogStore.activeFlight.legEditLocked"
                                   readonly >
                        </td>
                        <td>
                            <input value.bind="leg.tc | padNumber: 3" type="text"
                                   focus.trigger="openMaskedPad({title: 'True Course', object: leg,  propName: 'tc', minDigits: 3, maxDigits: 3, mask: '___', minusAllowed: false, floatAllowed: false})"
                                   class="form-control control-label  inputShort"
                                   disabled.bind="$parent.flightLogStore.activeFlight.legEditLocked"
                                   readonly >
                        </td>
                        <td>
                            <input value.bind="leg.winds | padNumber: 4" type="text" class="form-control inputMedium"
                                   focus.trigger="openMaskedPad({title: 'Winds Aloft', object: leg,  propName: 'winds', minDigits: 4, maxDigits: 4, mask: '____', minusAllowed: false, floatAllowed: false})"
                                   disabled.bind="$parent.flightLogStore.activeFlight.legEditLocked"
                                   readonly />
                        </td>
                        <td>
                            <input value.bind="leg.wca" type="text" class="form-control inputShort"
                                   focus.trigger="openMaskedPad({title: 'WCA Degrees', object: leg,  propName: 'wca', minDigits: 1, maxDigits: 2, mask: '__', minusAllowed: true, floatAllowed: false})"
                                   disabled.bind="$parent.flightLogStore.activeFlight.legEditLocked"
                                   readonly />
                        </td>
                        <td>
                            <input value.bind="leg.mvar" type="text" class="form-control inputShort"
                                   focus.trigger="openMaskedPad({title: 'MagVar Degrees', object: leg,  propName: 'mvar', minDigits: 1, maxDigits: 2, mask: '__', minusAllowed: true, floatAllowed: false})"
                                   disabled.bind="$parent.flightLogStore.activeFlight.legEditLocked"
                                   readonly />
                        </td>
                        <td>
                            <div class="form-control control-label alert-success inputShort">
                                ${leg.mh | padNumber: 3}
                            </div>
                        </td>
                        <td>
                            <input value.bind="leg.gs" type="text" class="form-control inputShort"
                                   focus.trigger="openMaskedPad({title: 'Ground Speed KTs', object: leg,  propName: 'gs', minDigits: 1, maxDigits: 3, mask: '___', minusAllowed: false, floatAllowed: false})"
                                   disabled.bind="$parent.flightLogStore.activeFlight.legEditLocked"
                                   readonly />
                        </td>
                        <td>
                            <input value.bind="leg.dist" type="text" class="form-control inputShort"
                                   focus.trigger="openMaskedPad({title: 'Distance Nm', object: leg,  propName: 'dist', minDigits: 1, maxDigits: 3, mask: '___', minusAllowed: false, floatAllowed: false})"
                                   disabled.bind="$parent.flightLogStore.activeFlight.legEditLocked"
                                   readonly />
                        </td>
                        <td>
                            <input value.one-way="leg.flttime | secondsToHhmm" type="text" class="form-control inputShort"
                                   focus.trigger="openMaskedPad({title: 'Leg Time HH:MM', object: leg,  propName: 'flttime', minDigits: 4, maxDigits: 5, mask: '__:__', minusAllowed: false, floatAllowed: false, filterIn: secondsToHHMM, filterOut: hhmmToSeconds})"
                                   disabled.bind="$parent.flightLogStore.activeFlight.legEditLocked"
                                   readonly />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                        </td>
                        <td style="text-align: center; vertical-align: middle">Total</td>
                        <td>
                            <div class="form-control alert-success">${flightLogStore.activeFlight.distTotal}</div>
                        </td>
                        <td>
                            <div class="form-control alert-success">${flightLogStore.activeFlight.timeTotal |
                                secondsToHhmm}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="form">
                    <tr>
                        <td class="inputShort" style="font-weight: bolder"> Fuel:</td>
                        <td class="text-right"> Enroute</td>
                        <td>
                            <input value.bind="flightLogStore.activeFlight.fuelEnroute" type="text" class="form-control inputShort"
                                   focus.trigger="openMaskedPad({title: 'Fuel Enroute Gals', object: flightLogStore.activeFlight,  propName: 'fuelEnroute', minDigits: 1, maxDigits: 4, mask: '____', minusAllowed: false, floatAllowed: true})"
                                   disabled.bind="flightLogStore.activeFlight.legEditLocked"
                                   readonly />
                        </td>
                        <td class="text-right"> Climb</td>
                        <td>
                            <input value.bind="flightLogStore.activeFlight.fuelClimb" type="text" class="form-control inputShort"
                                   focus.trigger="openMaskedPad({title: 'Fuel Climb Gals', object: flightLogStore.activeFlight,  propName: 'fuelClimb', minDigits: 1, maxDigits: 4, mask: '____', minusAllowed: false, floatAllowed: true})"
                                   disabled.bind="flightLogStore.activeFlight.legEditLocked"
                                   readonly />
                        </td>
                        <td class="text-right"> Reserve</td>
                        <td>
                            <input value.bind="flightLogStore.activeFlight.fuelReserve" type="text" class="form-control inputShort"
                                   focus.trigger="openMaskedPad({title: 'Fuel Reserve Gals', object: flightLogStore.activeFlight,  propName: 'fuelReserve', minDigits: 1, maxDigits: 4, mask: '____', minusAllowed: false, floatAllowed: true})"
                                   disabled.bind="flightLogStore.activeFlight.legEditLocked"
                                   readonly />
                        </td>
                        <td class="text-right">Total</td>
                        <td>
                            <div class="form-control alert-success inputShort">${flightLogStore.activeFlight.fuelTotal}</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>
