<template>

    <require from="resources/value-converters/four-digit-time"></require>
    <require from="resources/value-converters/seconds-to-hhmm"></require>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <span if.bind="!flightLogStore.activeFlight.checkpointEditLocked">
                <button class="btn btn-default" click.trigger="addItem()">
                    <i class="fa fa-plus-circle touchSizeLgGreen"></i>
                </button>
            </span>
            <button class="btn btn-default btn-lg" href="#flightlog" click.trigger="toggleCheckpointEditLock()">
                Checkpoints
                <span if.bind="flightLogStore.activeFlight.checkpointEditLocked">
                   <i class="fa fa-lock" style="font-size: 18px;"></i>
                </span>
            </button>
            <span if.bind="!flightLogStore.activeFlight.checkpointEditLocked">
                <button class="btn btn-default" click.trigger="removeItem()">
                    <i class="fa fa-minus-circle touchSizeLgRed"></i>
                </button>
            </span>
        </div>
        <div>

            <div class="table-responsive">

                <div class="well-lg" style="margin: 4px; width: 300px;">
                    <table>
                        <tr>
                            <td><span style="font-size: 18px; font-weight: bold;">GMT: </span></td>
                            <td>
                                <div style="font-size: 18px; font-weight: bold; text-align: left; color: darkgreen">
                                    ${currentGMT.format('HH:mm:ss')}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span style="font-size: 18px; font-weight: bold;">LCL: </span></td>
                            <td>
                                <div style="font-size: 18px; font-weight: bold; text-align: left; color: mediumblue">
                                    ${currentLCL.format('HH:mm:ss')} [${currentOffset}]
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="panel panel-primary" style="margin: 4px; width: 260px;">
                    <div class="panel-heading">Start Flight</div>
                    <div class="panel-body">
                        <div class="input-group" style="width:240px">
                            <span class="input-group-addon touchSize" click.trigger="toggleLockStartTime()">
                                <i class="fa ${lockStartTime === true ? 'fa-lock' : 'fa-unlock-alt'} clickable"></i>
                            </span>
                            <input value.bind="flightLogStore.activeFlight.startTime" type="text" class="form-control touchSize"
                                   focus.trigger="openMaskedPad({title: 'Actual Time HH:MM', object: flightLogStore.activeFlight,  propName: 'startTime', minDigits: 4, maxDigits: 4, mask: '__:__', blankAllowed: true, minusAllowed: false, floatAllowed: false, filterIn: fromHHMM, filterOut: toHHMM})"
                                   style="height:100%" disabled.bind="lockStartTime">
                            <span class="input-group-addon touchSize" click.trigger="setStartTime()">
                                <i class="fa fa-clock-o"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <table class="table-bordered table-striped">
                    <thead>
                    <tr>
                        <td class="labelMedium">Chk Pt</td>
                        <td class="labelShort">Distance</td>
                        <td class="labelShort">Leg Time</td>
                        <td class="inputClock">Clock Time</td>
                        <td class="labelShort">GS</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="background: lightsteelblue;">
                        <td>
                            <input value.bind="flightLogStore.activeFlight.from" type="text" class="form-control inputMedium" disabled/>
                        </td>
                        <td>
                            <div class="form-control inputShort notUsed">NM</div>
                            <div class="form-control inputShort notUsed">DTG</div>
                        </td>
                        <td>
                            <div class="form-control inputShort notUsed">ET</div>
                            <div class="form-control inputShort notUsed">AT</div>
                        </td>
                        <td>
                            <div class="form-control inputClock notUsed">ETA</div>
                            <div class="form-control inputClock notUsed">ATA</div>
                        </td>
                        <td>
                            <div class="form-control inputShort notUsed">Kts</div>
                        </td>
                    </tr>

                    <tr repeat.for="log of flightLogStore.activeFlight.checkPoints">
                        <td>
                            <input value.bind="log.name" type="text" class="form-control inputShort"
                                   disabled.bind="$parent.flightLogStore.activeFlight.checkpointEditLocked"/>
                        </td>
                        <td>
                            <input value.bind="log.dist" placeholder="NM" type="text" class="form-control inputShort"
                                   focus.trigger="openMaskedPad({title: 'Distance NM', object: log,  propName: 'dist', minDigits: 1, maxDigits: 2, mask: '__', minusAllowed: false, floatAllowed: false})"
                                   disabled.bind="$parent.flightLogStore.activeFlight.checkpointEditLocked"
                                   readonly/>

                            <div class="form-control alert-success inputShort">${log.distToGo}</div>
                        </td>
                        <td>
                            <input value.bind="log.timeEstimate" placeholder="Mins" type="text" class="form-control inputShort"
                                   focus.trigger="openMaskedPad({title: 'ET Minutes', object: log,  propName: 'timeEstimate', minDigits: 1, maxDigits: 2, mask: '__', minusAllowed: false, floatAllowed: false})"
                                   readonly />

                            <div class="form-control alert-success inputShort">${log.timeActual}</div>
                        </td>
                        <td>
                            <div class="form-control alert-success">${log.clockEstimate}</div>
                            <div class="input-group" style="width:220px;">
                              <span class="input-group-addon" click.trigger="$parent.toggleLockCheckpointTime($index)">
                                <i class="fa ${$parent.lockCheckpointTime[$index] ? 'fa-lock' : 'fa-unlock-alt'} clickable touchSize"></i>
                              </span>
                              <input value.bind="log.clockActual" type="text" class="form-control touchSize" style="height:100%"
                                     focus.trigger="openMaskedPad({title: 'Actual Time HH:MM', object: log,  propName: 'clockActual', minDigits: 4, maxDigits: 4, mask: '__:__', blankAllowed: true, minusAllowed: false, floatAllowed: false, filterIn: fromHHMM, filterOut: toHHMM})"
                                     disabled.bind="$parent.lockCheckpointTime[$index]"
                                     readonly />
                              <span class="input-group-addon touchSize" click.trigger="$parent.setCheckPointTime($index)">
                                <i class="fa fa-clock-o"></i>
                              </span>
                            </div>
                        </td>
                        <td>
                            <input value.bind="log.gs" type="text" class="form-control inputShort"
                                   focus.trigger="openMaskedPad({title: 'GS KTs', object: log,  propName: 'gs', minDigits: 1, maxDigits: 3, mask: '___', minusAllowed: false, floatAllowed: false})"
                                   readonly />
                        </td>
                    </tr>
                    <tr style="background: lightsteelblue;">
                        <td>
                            <input value.bind="flightLogStore.activeFlight.to" type="text" class="form-control inputMedium" disabled/>
                        </td>
                        <td>
                            <div class="form-control inputShort alert-success">${flightLogStore.activeFlight.endDist}</div>
                            <div class="form-control inputShort notUsed">0</div>
                        </td>
                        <td>
                            <input value.bind="flightLogStore.activeFlight.endET" placeholder="Mins" type="text" class="form-control inputShort"
                                   focus.trigger="openMaskedPad({title: 'ET Minutes', object: flightLogStore.activeFlight,  propName: 'endET', minDigits: 1, maxDigits: 2, mask: '__', minusAllowed: false, floatAllowed: false})" />
                            <div class="form-control inputShort notUsed"></div>
                        </td>
                        <td>
                            <div class="form-control alert-success">${flightLogStore.activeFlight.endETA}</div>
                            <div class="input-group" style="width:240px;">
                                    <span class="input-group-addon" id="basic-addon4"
                                          click.trigger="toggleLockEndTime()">
                                        <i class="fa ${lockEndTime ? 'fa-lock' : 'fa-unlock-alt'} clickable"
                                           style="font-size: 24px;"></i>
                                    </span>
                                <input value.bind="flightLogStore.activeFlight.endTime" type="text" class="form-control touchSize"
                                       focus.trigger="openMaskedPad({title: 'Actual Time HH:MM', object: flightLogStore.activeFlight,  propName: 'endTime', minDigits: 4, maxDigits: 4, mask: '__:__', blankAllowed: true, minusAllowed: false, floatAllowed: false, filterIn: fromHHMM, filterOut: toHHMM})"
                                       style="height:100%" aria-describedby="basic-addon3" disabled.bind="lockEndTime">
                                          <span class="input-group-addon" id="basic-addon5"
                                                click.trigger="setEndTime()">
                                            <i class="fa fa-clock-o" style="alignment: left; font-size: 24px;"></i>
                                          </span>
                        </td>
                        <td>
                            <div class="form-control inputShort notUsed"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="panel panel-primary" style="margin: 4px; width: 260px;">
                    <div class="panel-heading">Time to Descend</div>
                    <div class="panel-body">
                        Descent Time (mins):
                        <input value.bind="flightLogStore.activeFlight.minutesToDescend" type="text" id="routeFrom"
                               class="form-control form-inline"
                               focus.trigger="openMaskedPad({title: 'Descent Time HH:MM', object: flightLogStore.activeFlight,  propName: 'minutesToDescend', minDigits: 1, maxDigits: 2, mask: '__', blankAllowed: true, minusAllowed: false, floatAllowed: false})"
                               style="height:100%; width: 80px; font-size: 18px; margin-left: 3px"
                                readonly/>
                        Time To Descend:
                        <div class="form-control inputShort alert-success">${flightLogStore.activeFlight.timeToDescend}</div>
                    </div>
                </div>

                <div class="panel panel-primary" style="margin: 4px; width: 260px;">
                    <div class="panel-heading">Total Flight Time</div>
                    <div class="panel-body">
                        Total Flight Time (hh:mm):
                        <span style="font-weight: bold; font-size: 18px">${flightLogStore.activeFlight.totalFlightTime | secondsToHhmm}</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div style="height: 20px"></div>
</template>
