<template>
    <!--style needed here for IE transparent background -->
    <ai-dialog style="background-color: white">
        <ai-dialog-header>
            <h4>${params.title}</h4>
        </ai-dialog-header>
        <ai-dialog-body>
            <h2>${params.body}</h2>
        </ai-dialog-body>
        <ai-dialog-footer>
            <button click.trigger="controller.ok()">${params.buttonOk}</button>
            <button click.trigger="controller.cancel()">${params.buttonCancel}</button>
        </ai-dialog-footer>
    </ai-dialog>
</template>
