<template>
    <style scoped>
        .np-header {
            margin-bottom:10px;
            width: 240px;
            height: 48px;
            font-size: 32px;
        }
        .np-body {
            margin-left: auto;
            margin-right: auto;
        }
        .np-num {
            width:70px;
            font-size: 24px;
        }
        .np-action {
            width:70px;
            font-size: 20px;
        }

    </style>

    <ai-dialog style="background-color: white; min-width:260px;">
        <ai-dialog-header>
            <h4>${title}</h4>
        </ai-dialog-header>
        <ai-dialog-body click.delegate="numPadClick($event)">
            <div class="np-header">
                <div style="width:80px; display: inline-block">${entry}</div>
                <button class="btn" style="margin-left: 80px; padding: 0px" data-value="b"><img style="width:48px;height:48px;" src="img/backspace.png"  data-value="b"></button>
            </div>
            <div class="np-body">
                <table>
                    <tr>
                        <td><button class="btn np-num" data-value="7">7</button></td>
                        <td><button class="btn np-num" data-value="8">8</button></td>
                        <td><button class="btn np-num" data-value="9">9</button></td>
                    </tr>
                    <tr>
                        <td><button class="btn np-num" data-value="4">4</button></td>
                        <td><button class="btn np-num" data-value="5">5</button></td>
                        <td><button class="btn np-num" data-value="6">6</button></td>
                    </tr>
                    <tr>
                        <td><button class="btn np-num" data-value="1">1</button></td>
                        <td><button class="btn np-num" data-value="2">2</button></td>
                        <td><button class="btn np-num" data-value="3">3</button></td>
                    </tr>
                    <tr>
                        <td><button class="btn np-action" data-value="c">Clear</button></td>
                        <td><button class="btn np-num" data-value="0">0</button></td>
                        <td>
                            <button class="btn np-num" data-value="-" if.bind="plusMinus">+/-</button>
                            <button class="btn np-num" data-value="." if.bind="float">.</button>
                        </td>
                    </tr>
                </table>
            </div>
        </ai-dialog-body>
        <ai-dialog-footer>
            <button class="btn" click.trigger="controller.cancel()" ref="cancelButton">Cancel</button>
            <button class="btn" click.trigger="ok()" disabled.bind="!canSave">Set</button>
        </ai-dialog-footer>
    </ai-dialog>
</template>