<template>
    <require from="font-awesome/css/font-awesome.css"></require>
    <require from="bootstrap/css/bootstrap.css"></require>
    <require from="/styles/styles.css"></require>
    <require from="nav-bar.html"></require>

    <nav-bar router.bind="router"></nav-bar>

    <div class="page-host">
            <router-view></router-view>
    </div>
</template>
