body {
  margin: 0;
}

.splash {
    text-align: center;
    margin: 10% 0 0 0;
    box-sizing: border-box;
}

.splash .message {
    font-size: 72px;
    line-height: 72px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .spinner {
    text-align: center;
    display: inline-block;
    margin-top: 50px;
}

#preload {
    visibility: hidden;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.smallpanel {
    width: 360px;
}
.mediumpanel {
    width: 850px;
}

ai-dialog-overlay {
    z-index: 10000 !important;
}

ai-dialog-container {
    z-index: 10010 !important;
}

.ai-dialog {
    background-color: white;
    margin-top: 70px;
}

.edit-icon {
    font-size: 20pt;
}

.table-width-medium {
    min-width: 680px;
}

.inputShort {
    width: 68px;
    margin: 2px;
}
.inputMedium {
    width: 85px;
    margin: 2px;
}
.inputLong {
    width: 90px;
    margin: 2px;
}
.labelCenterShort {
    width: 68px;
    margin:2px;
    text-align: center;
    font-weight: bold;
}
.valueCenterShort {
    width: 68px;
    margin:2px;
    text-align: center;
    color: darkblue;
}
.labelRightMedium {
    width: 130px;
    text-align: center;
    padding-right: 2px;
    font-weight: bolder;
    color: darkblue;
}

.danger {
    background-color: red;
    color: yellow;
}

.secondHeader {
    background-color:lightgrey;
    margin: 2px;
}

.readOnly {
    background-color: lightgreen;
}

.notUsed {
    color: whitesmoke;
    background-color: dimgray;
}

.headerText {
    color: white;
    background-color: steelblue;
}

.striped {
    background-color: lightsteelblue;
}

td {
    padding: 3px;
    text-align: center;
}

.touchSize {
    font-size: 24px;
}

.touchSizeLgGreen {
    font-size: 32px;
    color: green;
}

.touchSizeLgRed {
    font-size: 32px;
    color: lightcoral;
}
